html, body {
  margin: 0;
padding: 0;
line-height: 1.8;
font-family: "Georgia";
font-size: 1.2em;
  
width: 100%;
margin: auto;

/* background-color: #ecf4ff; */
background: linear-gradient(rgb(125, 148, 253) 61%, rgb(255, 255, 156) 61%);
color:  #292929;
}
canvas {
display: block;
}

h1 {
/* text-decoration: underline; */
text-align: center;
}
h2,h3,h4 {

text-align: center;
}

hr{
border: none;
height: 3px;
width: 70%;
color: black;
background-color: black;
margin-top: .2em;
margin-bottom: .2em;

}

div{
  width: 90%;
  margin: 0 auto;
}

a{

text-decoration: underline;
color: black;
}

a:hover {
text-decoration: none;


}

img{
text-align: center;

/* width: 19%; */
margin: 0%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  border-radius: 6%;
}

a{
  text-decoration: underline;
  color: black
  
}

a:visited{
  color: black;
}

a:hover{
  font-style: italic;
}